#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  margin-top: 60px;


  .table {
    display: table;
    min-width: 60%;
    max-width: 90%;
    margin: 2rem auto;
    border: 0.1rem solid $light-gray;
    border-radius: 0.3rem;

    .row {
      display: table-row;

      &:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: $light-gray;
      }

      &:not(:first-of-type) {
        .cell {
          border-top: 0.1rem solid $light-gray;
        }
      }

      &.header {
        background-color: $dark-blue;
        color: $white;
        font-weight: 700;
      }

      &:not(.header) {
        .cell {
          transition: background-color 0.5s ease-in-out;

          &:hover {
            transition: background-color 0.5s ease-in-out;
            background-color: $light-blue;
          }
        }
      }

      .cell {
        display: table-cell;
        padding: 0.8rem;
        vertical-align: middle;

        &:not(:last-of-type) {
          border-right: 0.1rem solid $light-gray;
        }

        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }
  }

  button {
    background-color: $light-blue;
    border: none;
    border-radius: 0.6rem;
    padding: 1.2rem;
    font-size: 1rem;
    margin-bottom: 3rem;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      transition: background-color 0.5s ease-in-out;
      background-color: $dark-blue;
    }

    &:focus {
      outline: 0;
    }
  }
}