<template>
  <div>
    <div class="table">
      <div class="row header">
        <div class="cell">Id</div>
        <div class="cell">Name</div>
        <div class="cell">Description</div>
        <div class="cell">Stars</div>
        <div class="cell">URL</div>
      </div>
      <div class="row" v-for="repository in this.search.repositories" :key="repository.repository.id">
        <div class="cell">{{ repository.repository.id }}</div>
        <div class="cell">{{ repository.repository.name }}</div>
        <div class="cell">{{ repository.repository.description }}</div>
        <div class="cell">{{ repository.repository.stargazers.totalCount }}</div>
        <div class="cell">{{ repository.repository.url }}</div>
      </div>
    </div>
    <button id="hot_repo" @click="getRepositories">Get Repositories With Most Stars</button>
  </div>
</template>

<script>
import gql from 'graphql-tag'

function formatDate(date) {
  return date.toJSON().slice(0,10).replace(/-/g,'-')
}

const today = new Date()
const currentDate = formatDate(today)
today.setMonth(today.getMonth() - 1)
const pastDate = formatDate(today)

// FIXME
// Check if it's a month back or last month
const createdOption = `created:${pastDate}..${currentDate}`

export default {
  name: 'RepositoryTable',
  data: () => ({
    search: [],
    skipQuery: true
  }),
  apollo: {
    search: {
      query: gql`
        query ($searchQuery: String!) {
          search(type: REPOSITORY, query: $searchQuery, first:5) {
            repositories: edges {
              repository: node {
                ... on Repository {
                  id
                  name
                  description
                  stargazers {
                    totalCount
                  }
                  url
                }
              }
            }
          }
        }
      `,
      variables: {
        "searchQuery": `language:javascript sort:stars ${createdOption}`
      },
      skip () {
        return this.skipQuery
      }
    }
  },
  methods: {
    getRepositories: function() {
      this.$apollo.queries.search.skip = false
    }
  }
}
</script>