<template>
  <div>
    <div class="table">
      <div class="row header">
        <div class="cell">Id</div>
        <div class="cell">Login</div>
        <div class="cell">Avatar</div>
        <div class="cell">Bio</div>
        <div class="cell">Followers</div>
      </div>
      <div class="row" v-for="user in this.search.users" :key="user.user.id">
        <div class="cell">{{ user.user.id }}</div>
        <div class="cell">{{ user.user.login }}</div>
        <div class="cell">
          <img :src="user.user.avatarUrl" />
        </div>
        <div class="cell">{{ user.user.bio }}</div>
        <div class="cell">{{ user.user.followers.totalCount }}</div>
      </div>
    </div>
    <button id="prolific_users" @click="getUsers">Get Users With Most Followers</button>
  </div>
</template>

<script>
import gql from 'graphql-tag'

function formatDate(date) {
  return date.toJSON().slice(0,10).replace(/-/g,'-')
}

const today = new Date()
const currentDate = formatDate(today)
today.setFullYear(today.getFullYear() - 1)
const pastDate = formatDate(today)

// FIXME
// Check if it's a year back or last year
const createdOption = `created:${pastDate}..${currentDate}`

export default {
  name: 'UserTable',
  data: () => ({
    search: [],
    skipQuery: true
  }),
  apollo: {
    search: {
      query: gql`
        query ($searchQuery: String!) {
          search(type: USER, query: $searchQuery, first:5) {
            users: edges {
              user: node {
                ... on User {
                  id,
                  login,
                  avatarUrl,
                  bio,
                  followers {
                    totalCount
                  }
                }
              }
            }
          }
        }
      `,
      variables: {
        "searchQuery": `language:javascript sort:followers ${createdOption}`
      },
      pollInterval: 120000,
      skip () {
        return this.skipQuery
      }
    }
  },
  methods: {
    getUsers: function() {
      this.$apollo.queries.search.skip = false
    }
  }
}
</script>