<template>
  <div id="app">
    <RepositoryTable />
    <UserTable />
  </div>
</template>

<script>
import RepositoryTable from '@/components/RepositoryTable.vue'
import UserTable from '@/components/UserTable.vue'

export default {
  name: 'App',
  components: {
    RepositoryTable,
    UserTable
  }
}
</script>

<style lang="scss">
  @import '@/styles/main.scss';
</style>
